@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Fjalla One', sans-serif;
  background: linear-gradient(to bottom, #405166 0%, #656f6f 100%);
  background-size: cover; }

.main-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; }
  .main-container__image {
    position: absolute;
    z-index: 99999;
    margin-left: -77%;
    margin-top: -500px;
    transform: scale(0.5);
    clip-path: polygon(38% 90%, 62% 90%, 62% 0, 38% 0);
    filter: grayscale(100%) blur(3px); }
  .main-container__profile {
    background-color: #eee;
    position: relative;
    width: 80vw;
    left: 50%;
    top: 50%;
    height: 62vh;
    box-shadow: 2px 1px 10px dimgrey;
    transform: translateX(-50%) translateY(-50%); }
    .main-container__profile__name {
      position: absolute;
      top: 42%;
      margin-left: 35%;
      letter-spacing: 2px;
      font-size: 48px;
      font-weight: 500;
      animation: down-up 3s; }
    .main-container__profile__social {
      position: absolute;
      display: flex;
      top: 42%;
      right: 20px; }
      .main-container__profile__social div {
        margin: 0 10px; }
    .main-container__profile .moving-line {
      z-index: 999;
      position: absolute;
      top: 50%;
      margin: 0 auto;
      width: 100%;
      border-color: black;
      animation: line-move 4s; }

@keyframes line-move {
  0% {
    top: 0;
    left: 50%;
    width: 5px; }
  25% {
    top: 50%;
    width: 1px; }
  50% {
    top: 50%; }
  75% {
    top: 50%; }
  100% {
    top: 50%;
    left: 0;
    width: 100%; } }

@keyframes down-up {
  0% {
    top: 52%;
    opacity: 0; }
  45% {
    top: 52%;
    opacity: 0; }
  100% {
    top: 42%;
    opacity: .8; } }
