* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  background: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4); }

html {
  font-size: 62.5%; }

.container .cards-container {
  position: relative;
  height: 90vh;
  margin: 2.5rem 0; }
  .container .cards-container .card {
    position: absolute;
    box-shadow: 0 0 15px 2px #dedede;
    font-size: 3rem;
    width: 30%;
    height: 100%;
    background-color: #eee;
    perspective: 150rem;
    -moz-perspective: 150rem;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden; }
    .container .cards-container .card--0 {
      left: 0;
      z-index: 3;
      opacity: 0.3;
      transform: scale(0.9); }
    .container .cards-container .card--1 {
      transition: all .8s ease;
      left: 35%;
      z-index: 2; }
    .container .cards-container .card--2 {
      left: 70%;
      z-index: 1;
      opacity: 0.3;
      transform: scale(0.9); }

@keyframes move-20-30 {
  from {
    left: 0;
    opacity: 0.3;
    transform: scale(0.9); }
  to {
    left: 35%;
    opacity: 1;
    transform: scale(1); } }

@keyframes move-30-40 {
  from {
    left: 35%;
    opacity: 1;
    transform: scale(1); }
  to {
    left: 70%;
    opacity: 0.3;
    transform: scale(0.9); } }

@keyframes move-40-20 {
  from {
    left: 70%; }
  to {
    left: 0; } }

.skills {
  font-weight: 300; }
  .skills__video {
    width: 100%;
    position: absolute; }
  .skills__title {
    text-align: center;
    font-size: 7rem;
    margin: 10rem 0;
    font-weight: 600;
    position: relative;
    color: white; }
  .skills__list {
    margin-top: 14rem; }
    .skills__list ul {
      list-style: none; }
      .skills__list ul li {
        font-size: 2rem;
        animation: FadeIn 1s linear;
        animation-fill-mode: both;
        margin: 0 auto;
        padding: 10px;
        width: 60%;
        text-align: center; }
        .skills__list ul li:not(:last-child) {
          border-bottom: 1px solid red; }
        .skills__list ul li:nth-child(1) {
          animation-delay: .1s; }
        .skills__list ul li:nth-child(2) {
          animation-delay: .3s; }
        .skills__list ul li:nth-child(3) {
          animation-delay: .5s; }
        .skills__list ul li:nth-child(4) {
          animation-delay: .7s; }

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  85% {
    opacity: 1;
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.switch {
  display: flex;
  justify-content: space-around;
  color: #ffffff; }
  .switch__right {
    animation: blink 3s infinite; }
  .switch__left {
    animation: blink 3s infinite; }

@keyframes blink {
  0% {
    opacity: .1; }
  50% {
    opacity: 1; }
  100% {
    opacity: .1; } }

.social-links {
  display: flex;
  justify-content: space-evenly;
  margin: 10rem 0; }
  .social-links a, .social-links a:active, .social-links a:visited {
    text-decoration: none;
    color: currentColor;
    transition: all .5s; }
  .social-links a:hover {
    transform: translateY(-10px);
    box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.5); }

.profile__image {
  background-image: url(../img/egg.png);
  height: 55vh;
  background-size: cover; }

.profile__text {
  margin: 2rem 0;
  text-align: center;
  font-weight: 100; }
  .profile__text--name {
    font-size: 5rem;
    letter-spacing: 4px; }
  .profile__text--phrase {
    font-size: 2rem;
    letter-spacing: 5px; }

.biography {
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 5px; }
  .biography p {
    margin: 5rem 3rem; }
