.skills {

  font-weight: 300;

  &__video {
    width: 100%;
    position: absolute;
  }

  &__title {
    text-align: center;
    font-size: 7rem;
    margin: 10rem 0;
    font-weight: 600;
    position: relative;
    color: white;
  }

  &__list {

    margin-top: 14rem;

    ul {

      list-style: none;

      li {
        font-size: 2rem;
        animation: FadeIn 1s linear;
        animation-fill-mode: both;
        margin: 0 auto;
        padding: 10px;
        width: 60%;
        text-align: center;

        &:not(:last-child) {
          border-bottom: 1px solid red;
        }

        &:nth-child(1) {
          animation-delay: .1s
        }
        &:nth-child(2) {
          animation-delay: .3s
        }
        &:nth-child(3) {
          animation-delay: .5s
        }
        &:nth-child(4) {
          animation-delay: .7s
        }

      }
    }
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(.1);
  }

  85% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

