.switch {

  display: flex;
  justify-content: space-around;
  color: #ffffff;

  &__right {
    animation: blink 3s infinite;
  }

  &__left {
    animation: blink 3s infinite;
  }
}

@keyframes blink {
  0% {
    opacity: .1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}