* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-image: linear-gradient(to right,
     rgba(42, 42, 42, 0.8),rgba(168, 168, 168, 0.8)),url('../img/kfir_full_width.jpg');
    background-size: cover;
    font-size: 62.5%;
}


@import "components/_social"; 
@import "components/_name"; 
@import "components/_nav";  