// see https://jsfiddle.net/v8gys9bu/59/

.container {
  display: flex;
  width: 80vw;
  height: 80vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  .card {
    //position: absolute;
    flex:1;
    font-size: 34px;
    //width: 80%;
    height: 80%;
    margin: 15px;
    background-color: #eee;
    &--0 {
      order: 1;
      //left: 20%;
      z-index: 3;
      transform: scale(.8);
    }
    &--1 {
      order: 2;
      //left: 30%;
      z-index: 2;
    }
    &--2 {
      order: 3;
      //left: 40%;
      z-index: 1;
      transform: scale(.8);
    }
  }
}

@keyframes move-20-30 {
  from {
    left: 20%;
    transform: scale(.8) translateX(0);
  }
  to {
    left: 30%;
    transform: scale(1) translateX(100%);
  }
}

@keyframes move-30-40 {
  from {
    //left: 30%;
    transform: scale(1) translateX(0);
  }
  to {
    //left: 40%;
    transform: scale(.8) translateX(100%);
  }
}

@keyframes move-40-20 {
  from {
    left: 40%;
    transform: scale(.8) translateX(0);
  }
  to {
    left: 20%;
    transform: scale(.8) translateX(-300%);
  }
}