* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    height: 100vh;
    background-image: linear-gradient(to right,
     rgba(42, 42, 42, 0.8),rgba(168, 168, 168, 0.8)),url('img/kfir_full_width.jpg');
    background-size: cover;
}

.social-container {
    margin: 30px 30px;
}

.social-box {
    background-color: rgba(100,100,100,.4);
    width: 10vw;
    height: 20vh;
    margin-bottom: 30px;
}